/* Make the site a little more narrow. */
.container {
	max-width: 800px;
}

/* Class for the arrow. */
.current::after {
	content: "\27F5 you are here";
	color: red;
	font-weight: bold;
	margin-left: 1rem;
}

/* Tweaks for the seasons tables in the methodology section. */
.seasons td {
	border: 1px solid var(--table-border-color);
	text-align: center;
	padding: 0px;
}

.seasons th {
	border: none;
	border: 1px solid var(--table-border-color);
}

.seasons thead th {
	text-align: center;
}

.seasons thead td {
	/* top corner only */
	border: none;
}

.seasons tbody th {
	text-align: right;
}

.seasons table tr:first-child td:first-child {
	border-top: none;
}